bucket = "loom-nebius-terraform-state-REPLACE"
key    = "nebius/development/eu-north1/terraform.tfstate"
region = "eu-north1"

endpoints = {
  s3 = "https://storage.eu-north1.nebius.cloud"
}

use_lockfile                 = true
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
