# Repository contract only. Activation remains disabled/desired=0 until #1232/#1256.
LOOM_SLURM_CLUSTER_ID=gb10
LOOM_WORKER_POOL_NAME=behavior-gpu-gb10
LOOM_SLURM_PARTITION=gb10
LOOM_SLURM_GPU_TRES=gpu:gb10:1
LOOM_WORKER_MAX_CONCURRENT=1
LOOM_DIRECT_WORKER_ENABLED=false
LOOM_AUTOSCALER_ENABLED=false
LOOM_AUTOSCALER_DESIRED_SLOTS=0
