Host trt-gb10-1
  HostName 207.35.188.227
  Port 2221

Host trt-gb10-2
  HostName 192.168.20.12
  ProxyJump trt-gb10-1

Host trt-gb10-3
  HostName 192.168.20.13
  ProxyJump trt-gb10-1

Host trt-gb10-4
  HostName 192.168.20.14
  ProxyJump trt-gb10-1

Host trt-gb10-5
  HostName 192.168.20.15
  ProxyJump trt-gb10-1

Host trt-gb10-6
  HostName 192.168.20.16
  ProxyJump trt-gb10-1

Host trt-gb10-7
  HostName 192.168.20.77
  ProxyJump trt-gb10-1

Host trt-gb10-8
  HostName 192.168.20.18
  ProxyJump trt-gb10-1

Host trt-gb10-9
  HostName 192.168.20.19
  ProxyJump trt-gb10-1

Host trt-gb10-10
  HostName 192.168.20.20
  ProxyJump trt-gb10-1

Host trt-gb10-11
  HostName 192.168.20.21
  ProxyJump trt-gb10-1

Host trt-gb10-12
  HostName 192.168.20.22
  ProxyJump trt-gb10-1

Host trt-gb10-13
  HostName 192.168.20.23
  ProxyJump trt-gb10-1

Host trt-gb10-14
  HostName 192.168.20.24
  ProxyJump trt-gb10-1

Host trt-gb10-15
  HostName 192.168.20.25
  ProxyJump trt-gb10-1

Host trt-gb10-*
  User qianyi
  Port 22
  IdentityFile /var/lib/loom-staging-rollout/gb10-deploy-ed25519
  IdentitiesOnly yes
  PubkeyAuthentication yes
  PasswordAuthentication no
  StrictHostKeyChecking yes
  UserKnownHostsFile /etc/loom/staging-rollout-gb10-known-hosts
  GlobalKnownHostsFile /dev/null
  UpdateHostKeys no
  ServerAliveInterval 30
  ServerAliveCountMax 3
